/* Подключение шрифтов */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,regular,600&display=swap");
/* Убираю отступы на странице*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* Задание шрифта, цвета фона, цвета текста */
body{
    font-family: 'Work Sans', sans-serif;
    background-color: #010208;
    color: #fff;
}
/* Элемент ограничивающий контент с отступами безопасности при сужении экрана 
 чтобы контент не прилипал к краям*/
.container {
    max-width: 1245px; 
    margin: 0px auto;
    padding: 0 15px;
}
/* Внутренний отступ для шапки сайта */
.header {
    padding: 35px 0;
    position: fixed; /* Фиксация шапки на экране при скроллинге*/
    top: 0;
    left: 0;
    right: 0;
    /* чтобы не отключалось изменение цвета при наведении курсора на шапку сайта,
    так как шапка сайта выводится позади основной секции (при наведенни курсора
    когда мы выделяем не шапку сайта, а основную секцию*/
    z-index: 5; 
    background-color: #010208;/* Цвет шапки сайта */
}
/* Выравнивание и разнесение элементов по разным краям страницы*/
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mehu__list {
    list-style: none;/* Убираем точки перед текстом в меню */
    display: flex;
    align-items: center;
    gap: 32px;/* Отступ между словами */
}
/* Задание стилей для замены цвета слов при наведении мыши */
.menu__link:hover{
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;  Unknown property: 'text-fill-color';
}
/* Значок подчеркивания */
.menu__link:hover::before{
    opacity: 1; /* Появление значков подчеркивания */
    visibility: visible;/* Значек видим */
}
/* Задание стиля для значка подчеркивания */
.menu__link {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #E3E4E6;
    text-decoration: none; /* Отключение подчеркивания текста */
    position: relative;
}
/* Задание стиля для значка подчеркивания через псевдоэлемент  */
.menu__link::before {
    content: '';
    width: 9px;
    height: 5px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translateX(-50%);
    opacity: 0;/* Значки изначально скрыты */
    visibility: hidden; /* Значек невидим(прозрачный) */
}
/* Выравнивание контента по центру страницы*/
.hero {
    height: 100vh; /* Растягивание секции на всю страницу */
    display: flex;
    align-items: center; /* Выравнивание контента по центру страницы*/
    justify-content: center; /* Выравнивание контента по центру страницы*/
    position: relative;
}

/* ЗАДАНИЕ СТИЛЕЙ ДЛЯ ФОРМЫ АВТОРИЗАЦИИ*/
.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(227, 228, 230, 0.55); /*Цвет фона для формы ввода */
}
.form h1 {
    margin: 30px 100px;
    padding: 0;
    text-align: center;
    color: #fff; /*Цвет слова "ВХОД" для формы ввода */
    font-size: 30px;
    text-transform: uppercase;/*Словo "ВХОД" заглавными буквами */
}
/* Отступы для определения границ формы ввода */
.input-form {
    margin: 15px 40px;
    text-align: center;
}
.input-form input{
    padding: 13px;/* Ширина полей для формы ввода */
    width: 100%;
    color: #fff;
    font-size: 20px;
    background-color: rgba(227, 228, 230, 0.55);;/*Цвет фона для полей для формы ввода */
    outline-color: #4c54c5; /*Цвет контура фона для полей для формы ввода */
    border: 1px solid #fff;
    box-sizing: border-box;
}
.input-form input[type="text"]:focus, .input-form input[type="password"]:focus {
    border: 5px solid #77248a; /*Цвет рамки поля ввода логина и пароля */
}
.input-form input[type="submit"]{
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    /*Цвет кнопки Вход без наведения курсора*/
    background: #77248a;
    transition: .3s;
}
.input-form input[type="submit"]:hover {
    background: #0aa72c; /*Цвет кнопки Вход при наведении курсора */
}
.form a {
    display:block;
    padding: 0 0 30px;
    text-align: center;
    color: #fff; /*Цвет ссылки "Забыли пароль?" без наведения курсора*/
    text-decoration: none;
    transition: .3s;
}
.form a:hover{
    color: #0fc3f5; /*Цвет ссылки "Забыли пароль?" при наведении курсора*/
}





/* Задание стилей для первой надписи*/
.hero__title {
font-weight: 300;
font-size: 56px;
text-align: center;
line-height: 150%;
letter-spacing: -0.02em;
color: rgba(227, 228, 230, 0.55);
}
/* Выделение отдельных остов жирным белым цветом*/
.hero__title span{
    font-weight: 600;
    color: #e3e4e6;
}
/* Задание стилей для кнопки "стрелочка вниз"*/
.hero__arrow {
    border: none;/* Отключение встроенных в браузеров стилей*/
    width: 40px;
    height: 40px;
    background: transparent url('../img/arrow.svg') center center no-repeat;
    position: absolute;
    left: 50%;
    bottom: 42px;
    transform:  translateX(-50%) rotate(90deg); 
    cursor: pointer;/* Выделение кнопки при наведении на нее курсора*/
}


/* ВТОРАЯ СЕКЦИЯ */
/* Задание стилей для секции работа с клиентами*/
.works {
    padding: 80px 0 120px;
}
.container {
}
.clients__title {
    font-size: 40px;
    line-height: 150%;
    font-weight: 600;
    color: #e3e4e6;
    max-width: 520px; /* Ширина для заголовка Some of... */
}
.clients__title span {
    font-weight: 300;
    color: rgba(227, 228, 230, 0.55);
}
.clients__body {
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

/* ТРЕТЬЯ СЕКЦИЯ */
/* Задание стилей для секции демонстрации работ*/

.works {
    padding: 80px 0 120px;
}

/* Задание стилей для заголовка*/
.works__title {
    padding: 80px 0 120px;
    font-weight: 300;
    font-size: 40px;
    color: rgba(227, 228, 230, 0.55);
}
.works__title span {
    color: #E3E4E6;
    font-weight: 600;
}
.works__boody {
    margin-top: 95px;
}
.works__card {
}
.card {
	display: flex; /* Чтобы текст встал на один уровень с картинкой*/
	gap: 32px;/* Расстояние между картинкой и текстом справа*/
}

.card:not(:last-child) {
	margin-bottom: 95px;/* Отступ между карточками*/
}

.card_r {
	flex-direction: row-reverse; /* Свойства для карточек справа*/
}
.card__img {
	border-radius: 16px;/* Склугление углов картинки*/
	overflow: hidden;
	flex: 0 0 50%;/* Картинка будет занимать 50% от ширины*/
}
.card__img img {
	max-width: 100%; /* Маштаб для картинки*/
}
.card__info {
	flex: 1 1 auto;/* Текст чтобы растягивался на всю длину*/
	align-self: flex-end; /* Чтобы текст был у нижнего края*/
}
/* Задание стилей для текста*/
.card__tag {
	font-weight: 600;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #E3E4E6;
	margin-bottom: 16px;/* Отступ между строками текста*/
}
/* Задание стилей для текста*/
.card__text {
	font-weight: 300;
	font-size: 32px;
	line-height: 150%;
	color: rgba(227, 228, 230, 0.55);
	margin-bottom: 24px;/* Отступ между строками текста*/
}
.card__text span {
	color: #e3e4e6;
	font-weight: 600;
}
.card__category {
	font-size: 18px;
	color: #E3E4E6;
}
/* Задание стилей для ссылки*/
.card__button {
	display: inline-block;
	margin-top: 32px;
	padding: 8px 48px 8px 16px;
	border: 1px solid rgba(227, 228, 230, 0.55);
	border-radius: 100px;
	color: #fff;
	text-decoration: none; /* убирание подчеркивания*/
	position: relative;
}
.card__button::before {
	content: '';
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY(-50%);
	background: transparent url('../img/arrow.svg') center center no-repeat;
}
.card__button:hover {
	background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
	border: 1px solid #E3E4E6;
}
/* Замена стрелочки на другую*/
.card__button:hover::before {
	background: transparent url('../img/arrow-hover.svg') center center no-repeat;
}
/* ЧЕТВЕРТАЯ СЕКЦИЯ "О себе"*/
    .about {
        padding: 75px 0;
    }
    .about__container {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .about__text {
        font-size: 32px;
        line-height: 150%;
        color: #e3e4e6;
        font-weight: 600;
    }
    .about__text span {
        color: rgba(227, 228, 230, 0.55);
        font-weight: 300;
    }
    .about__title {
        font-weight: 600;
        font-size: 24px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #E3E4E6;
    }
    .about__gallery {
        flex: 0 0 50%;/* Блок с картинками занимает половину ширины экрана*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);/* две колонки размером в одну фракцию*/
        grid-template-rows: repeat(4, 1fr);/* четыре ряда размером в одну фракцию каждая*/
        gap: 20px;
    }
    
    .about__img {
    }
    .about__img:nth-child(1) {
        grid-column: 1/2;/* с какой по какую находится элемент в колонках таблицы*/
        grid-row: 2/4; /* с какой по какую находится элемент в строках таблицы*/
    }
    .about__img:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/4;
    }
    .about__img:nth-child(3) {
        grid-column: 2/3;
        grid-row: 3/5;
    }

    /* ПОДВАЛ*/
    .footer {
        padding: 80px 0 40px;
    }
    .footer__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer__socials{
        display: flex;
    }
    .footer__title{
        font-size: 56px;
        letter-spacing: -0.02em;
        color: #e3e4e6;
        font-weight: 600;
    }
    .footer__title span{
        font-weight: 300;
        color: rgba(227, 228, 230, 0.55);
    }
    .footer__subtitle{
        font-weight: 300;
        font-size: 18px;
        color: #E3E4E6;
        margin-top: 15px;
    }
    .footer__social svg {
        fill: #7e7e7f;
        transition: all .2s;/* плавность увеличения размера значков при наведении курсора мыши*/
    }
    .footer__social:hover svg {
        fill: #fff;
        cursor: pointer;
        transform: scale(1.3); /* увеличение размера значков при наведении курсора мыши*/
    }
    /* Реализация отступа (gap) между значками SVG без искпользования свойства "gap"
    для случая, когда какойто браузер не поддерживает реализациюсвойства "gap" */
    .footer__social:not(:last-child){
        margin-right: 34px;
    }
    .footer__copyright {
        margin-top: 60px;
        font-weight: 300;
        color: rgba(227, 228, 230, 0.55);
    }
    .footer__container span{
        font-weight: 600;
        color: #E3E4E6;
    }




